* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.header_top_left {
    display: flex;
    gap: 2rem;
} 

