* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.header_top_left { 
    display: flex;
    gap: 2em;
    padding-bottom: 10px;
} 

.header_top_left p {
    padding-top: 15px;
}


header div p {
    padding-right: 15px;
    padding-left: 15px;
}

#img_logo {
    width: 18em;
    height: auto;
    display: block;
    margin-left: 24em;
    margin-right: 28em;
    margin-top: 10px;
    
}

